<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Dua Test Suite">
            <directory suffix="Test.php">./tests/Dua/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Dua/</directory>
        </whitelist>
    </filter>
</phpunit>
